Common/Bolt/DataStore/Service References/MetaDataService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23456/MetaDataServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeOS.Hub.Common.MDServer" />
  <xs:complexType name="ArrayOfKeyValueOfintAccountInfoQh5iDqTt">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintAccountInfoQh5iDqTt">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HomeOS.Hub.Common.MDServer" name="Value" nillable="true" type="q1:AccountInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintAccountInfoQh5iDqTt" nillable="true" type="tns:ArrayOfKeyValueOfintAccountInfoQh5iDqTt" />
</xs:schema>