Common/Bolt/DataStore/Service References/MetaDataService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeOS.Hub.Common.MDServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeOS.Hub.Common.MDServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Principal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Auth" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HomeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Principal" nillable="true" type="tns:Principal" />
  <xs:complexType name="FQStreamID">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreamId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FQStreamID" nillable="true" type="tns:FQStreamID" />
  <xs:complexType name="ACLEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="encKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyVersion" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="readerName" nillable="true" type="tns:Principal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ACLEntry" nillable="true" type="tns:ACLEntry" />
  <xs:complexType name="AccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyVersion" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInfo" nillable="true" type="tns:AccountInfo" />
  <xs:complexType name="ArrayOfPrincipal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Principal" nillable="true" type="tns:Principal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrincipal" nillable="true" type="tns:ArrayOfPrincipal" />
</xs:schema>